<div class="content-box">
    <form action="/orderrequest" method="get" id="orderrequestForm">
        <div class="flex-row-box space-between">
            <div th:replace="~{/component/search_input::div(id='orderrequestForm')}"></div>
            <div th:replace="~{/component/filter::div(id='orderrequestForm')}"></div>
            <div th:replace="~{/component/pagination_nav::nav}"></div>
        </div>
        <div id="active-filters"></div>
    </form>
    <table id="results">
        <thead>
            <tr>
                <th width="10%">선택</th>
                <th width="10%">ID</th>
                <th width="20%">상품명</th>
                <th width="10%">발주수량</th>
                <th width="10%">입고수량</th>
                <th width="10%">불량수량</th>
                <th width="20%">발주직원</th>
                <th width="20%">요청일자</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td><input type="checkbox" data-product-code="${item.product_code}"> </td>
                <td th:text="${item.request_id}"></td>
                <td th:text="${item.product_name}"></td>
                <td th:text="${item.request_qty}"></td>
                <td th:text="${item.received_qty}"></td>
                <td th:text="${item.defective_qty}"></td>
                <td th:text="${item.emp_id}"></td>
                <td th:text="${#dates.format(item.create_date, 'yy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>


</div>