<div class="content-box">
  <form th:replace="~{/component/search_form::form(action='/productorder', id='productorderForm')}"></form>
  <table id="results">
    <thead>
      <tr>
        <th width="10%">이미지</th>
        <th width="40%">제목</th>
        <th width="10%">가격</th>
        <th width="20%">판매처</th>
        <th width="20%">링크</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${items}">
        <td><img th:src="${item.image}" alt="Product Image"></td>
        <td th:utext="${item.title}"></td>
        <td th:text="${item.lprice}">원</td>
        <td th:text="${item.mallName}"></td>
        <td><a th:href="${item.link}" target="_blank">제품 보러가기</a></td>
      </tr>
    </tbody>
  </table>
</div>