<div class="content-box">
    <form action="/productorder" method="GET" id="productorderForm">
        <input type="hidden" id="emp_id" th:value="${session.emp?.emp_id ?: 'NULL'}">
        <div class="flex-row-box space-between">
            <div th:replace="~{/component/search_input::div(id='productorderForm')}"></div>
            <button type="submit" id="order_btn">발주</button>
            <div th:replace="~{/component/pagination_nav::nav}"></div>
        </div>
        <div id="active-filters" th:style="${param.size() > 3} ? 'height: 40px;' : ''"></div>
    </form>

    <table id="results">
        <thead>
            <tr>
                <th width="5%"><input type="checkbox" id="all"></th>
                <th width="5%">이미지</th>
                <th width="10%">상품코드</th>
                <th width="40%">제목</th>
                <th width="10%">가격</th>
                <th width="10%">판매처</th>
                <th width="10%">링크</th>
                <th width="10%">발주수량</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td><input type="checkbox" name="orderCheck" th:value="${item.productId}"></td>
                <td><img th:src="${item.image}" alt="Product Image"></td>
                <td th:utext="${item.productId}"></td>
                <td th:utext="${item.title}"></td>
                <td th:text="${item.lprice}">원</td>
                <td th:text="${item.mallName}"></td>
                <td><a th:href="${item.link}" target="_blank">제품 보러가기</a></td>
                <td><input type="number" name="orderQuantity" min="0" value="0"></td>
            </tr>
        </tbody>
    </table>

</div>