<div class="content-box">
    <form th:replace="~{/component/search_form::form(action='/productdefective', id='productdefectiveForm')}"></form>
    <table id="results">
        <thead>
            <tr>
                <th width="10%">선택</th>
                <th width="10%">ID</th>
                <th width="35%">상품명</th>
                <th width="10%">불량수량</th>
                <th width="25%">불량사유</th>
                <th width="10%">날짜</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="defectiveproduct : ${defectiveproducts}">
                <td><input type="checkbox" data-product-code="${defectiveproduct.product_code}"> </td>
                <td th:text="${defectiveproduct.defective_id}"></td>
                <td th:text="${defectiveproduct.product_name}"></td>
                <td th:text="${defectiveproduct.defective_qty}"></td>
                <td th:text="${defectiveproduct.reason}"></td>
                <td th:text="${#dates.format(defectiveproduct.defective_date, 'yy-MM-dd HH:mm')}"></td>

            </tr>
        </tbody>
    </table>


</div>