<div class="content-box">
    <form action="/productdefective" method="get">
        <input type="text" name="query" placeholder="검색어를 입력하세요" required>
        <input type="hidden" name="display" value="10">
        <input type="hidden" name="start" value="1">
        <button type="submit">검색</button>
    </form>
    <table id="results">
        <thead>
            <tr>
                <th>선택</th>
                <th>ID</th>
                <th>상품명</th>
                <th>불량수량</th>
                <th>불량사유</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="defectiveproduct : ${defectiveproducts}">
                <td><input type="checkbox" data-product-code="${defectiveproduct.product_code}"> </td>
                <td th:text="${defectiveproduct.defective_id}"></td>
                <td th:text="${defectiveproduct.product_name}"></td>
                <td th:text="${defectiveproduct.defective_qty}"></td>
                <td th:text="${defectiveproduct.reason}"></td>
                <td th:text="${#dates.format(defectiveproduct.defective_date, 'yy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>


</div>