<div class="content-box">

    <form action="/emp_list" method="GET" id="employeeForm">
        <div class="flex-row-box space-between">
            <div th:replace="~{/component/search_input::div(id='employeeForm')}"></div>
            <div th:replace="~{/component/filter::div(id='employeeForm')}"></div>
            <div th:replace="~{/component/pagination_nav::nav}"></div>
        </div>
        <div id="active-filters"></div>
    </form>

    <table id="results">
        <thead>
            <tr>
                <th width="5%">번호</th>
                <th width="10%">이름</th>
                <th width="30%">이메일</th>
                <th width="20%">연락처</th>
                <th width="15%">직책</th>
                <th width="10%">고용일자</th>
                <th width="10%">가입일자</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="employee-table-body">
            <tr th:each="emp : ${empList}">
                <td th:text="${emp.emp_id}" th:class="emp-id"></td>
                <td th:text="${emp.emp_name}"></td>
                <td th:text="${emp.emp_email}"></td>
                <td th:text="${emp.phone_number}"></td>
                <td th:text="${emp.job_title}"></td>
                <td th:text="${#dates.format(emp.hire_date, 'yy/MM/dd')}"></td>
                <td th:text="${#dates.format(emp.join_date, 'yy/MM/dd')}"></td>
            </tr>
        </tbody>
    </table>
</div>