<div class="container">
    <button id="search_btn" class="btn btn-primary">조회하기</button>
    <button id="toggle_search_options" class="btn btn-primary">상세 조회</button>

    <div id="search_options_panel">
        <h5>검색 옵션</h5>
        <div class="form-group">
            <label for="option1">직책</label>
            <input type="text" id="option1" name="option1">
        </div>
        <div class="form-group">
            <label for="option2">이름</label>
            <input type="text" id="option2" name="option2">
        </div>
        <div class="form-group">
            <label for="option3">이메일</label>
            <input type="text" id="option3" name="option3">
        </div>
        <div class="form-group">
            <label for="option3">ID</label>
            <input type="text" id="option4" name="option4">
        </div>
        <div class="form-group">
            <label for="option3">이메일</label>
            <input type="text" id="option5" name="option5">
        </div>
        <button id="apply_filters" class="btn btn-success">적용</button>
    </div>


    <table id="table_">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>직책</th>
                <th>고용일자</th>
                <th>가입일자</th>
            </tr>
        </thead>
        <tbody id="employee-table-body">
            <tr th:each="emp:${empList}">
                <td th:text="${emp.emp_id}"></td>
                <td th:text="${emp.emp_name}"></td>
                <td th:text="${emp.emp_email}"></td>
                <td th:text="${emp.phone_number}"></td>
                <td th:text="${emp.job_title}"></td>
                <td th:text="${#dates.format(emp.hire_date, 'yy-MM-dd')}"></td>
                <td th:text="${#dates.format(emp.join_date, 'yy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>

    <div th:replace="~{common/pagination_navigation::nav}"></div>
</div>