<div class="content-box">
    <div class="pagination">
        <div>
            <a th:href="@{/employee(page=${currentPage - 1})}" class="page-link" th:classappend="${currentPage == 0} ? 'disabled'" aria-disabled="${currentPage == 0}">뒤로</a>
            <a th:href="@{/employee(page=${currentPage + 1})}" class="page-link" th:classappend="${currentPage >= totalPages - 1} ? 'disabled'" aria-disabled="${currentPage >= totalPages - 1}">앞으로</a>
        </div>
        <span class="page-info">페이지 <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
        <a id="search-btn">검색하기</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th id="emp-id">번호</th>
                <th id="emp-name">이름</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>직책</th>
                <th>고용일자</th>
                <th>가입일자</th>
            </tr>
            <tr>
                <th><input type="text" id="filter-emp-id"></th>
                <th><input type="text" id="filter-emp-name"></th>
                <th><input type="text" id="filter-emp-email"></th>
                <th><input type="text" id="filter-phone"></th>
                <th>
                    <select id="filter-job-title-dropdown">
                        <option value="">모두</option>
                    </select>
                </th>
                <th><input type="text" id="filter-hire-date"></th>
                <th><input type="text" id="filter-join-date"></th>
            </tr>
        </thead>
        <tbody id="employee-table-body">
            <tr th:each="emp : ${empList}" th:onclick="|location.href='@{/employee/(emp_id=' + ${emp.emp_id} + ')}'|">
                <td th:text="${emp.emp_id}" th:class="emp-id"></td>
                <td th:text="${emp.emp_name}"></td>
                <td th:text="${emp.emp_email}"></td>
                <td th:text="${emp.phone_number}"></td>
                <td th:text="${emp.job_title}"></td>
                <td th:text="${#dates.format(emp.hire_date, 'yy-MM-dd')}"></td>
                <td th:text="${#dates.format(emp.join_date, 'yy-MM-dd')}"></td>
            </tr>
        </tbody>
    </table>
</div>