/* 테이블 위 박스 3개 */
.info-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.info-box {
    background-color: transparent !important;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    min-height: 100px;
    font-weight: bold;
}

/* 각 박스에 대한 색상 설정 */
.info-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.info-box {
    flex: 1;
    background-color: transparent !important;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    font-weight: bold;
    text-align: left;
}

/* 각 박스에 대한 색상 설정 */
.categories {
    color: #3781F0;
    font-weight: bold;
    font-size: 20px;
}

.total-product {
    color: #E5A558;
    font-weight: bold;
    font-size: 20px;
}

.low-stock {
    color: #C95757;
    font-weight: bold;
    font-size: 20px;
}

.total-text {
    font-size: 20px;
    margin-top: 15px;
}

/* grid-container와 박스 스타일 */
.grid-container {
    display: grid;
    grid-template-columns: 66.5% 32.9%;
    gap: 10px;
    box-sizing: border-box;
}

.box {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    border: var(--border-line);
    position: relative; /* relative positioning을 사용해 차트 위치 조정 */
    overflow: hidden; /* 박스 내부에서 차트가 잘리도록 설정 */
}


.box canvas {
    width: 88% !important; 
    height: 88% !important; 
    display: block;
}

/* grid item styles */
.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 210px;
    position: relative; /* 새로 추가된 속성 */
}

.box2 {
    grid-column: 2 / 3;
    height: 210px;
}

.box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    height: 290px;
    position: relative; /* 새로 추가된 속성 */
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 290px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.buttons {
    position: absolute; /* 새로 추가된 속성 */
    right: 10px; /* 버튼들을 오른쪽으로 이동 */
    top: 10px; /* 버튼들을 상단으로 이동 */
}

.buttons button {
    margin-left: 5px; /* 버튼들 간의 간격 유지 */
}
