.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(53, 50, 50, 0.1);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #c0c0c0;
    text-align: center;
}

th {
    background-color: #7ba08f;
    color: white;
    width: 150px;
    font-size: 13px;
}

td {
    transition: background-color 0.3s ease, border 0.3s ease;
    width: 400px;
    font-size: 13px;
}

td.changed {
    background-color: #d4edda; 
}

.modi-btn, .save-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.modi-btn.active {
    background-color: #007BFF;
    color: white;
}

.modi-btn:hover {
    background-color: #f0f0f0;
}

.modi-btn.active:hover {
    background-color: #0056b3;
}

.modi-btn {
    margin-left: 89%;
}

.save-btn {
    margin-left: 92%;
}

.editable:hover {
    background-color: #cefcc4; /* 원하는 색상으로 변경 */
    transition: background-color 0.3s; /* 부드러운 전환 효과 */
}

.editable {
    pointer-events: none; /* 수정 모드가 아닐 때 포인터 이벤트 비활성화 */
}

.editable.active {
    pointer-events: auto; /* 수정 모드일 때 포인터 이벤트 활성화 */
}