.content-box {
    width: 100%;
}

/* 페이지 네이션 스타일 */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 5px;
    width: 100%;
}

.page-info {
    margin-right: 2rem;
}

.page-link.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.page-link , #search-btn {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #F7F7F7;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.page-link:hover , #search-btn:hover {
    background-color: #C0C0C0;
}

.page-link:visited {
    color: #333;
}

/* 필터 스타일 */
#filter-emp-id {
    width: 2rem;
}

#filter-emp-name , #filter-job-title {
    width: 4rem;
}

#filter-hire-date , #filter-join-date {
    width: 6rem;
}

/* 테이블 스타일 */
.table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #C0C0C0;
    width: 100%;
}

/* 테이블 헤더 스타일 */
.table thead {
    background: #F7F7F7;
    color: #333;
}
#emp-id {
    width: 5rem;
}
#emp-name {
    width: 5rem;
}

/* 필터 스타일 */
#filter-job-title-dropdown option {
    text-align: center;
}

/* 테이블 셀 스타일 */
.table th, .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.table tbody tr {
    cursor: pointer; /* 클릭 가능한 커서로 변경 */
}
/* 클릭 시 배경색 변경 */
.table tbody tr:hover {
    background-color: #F0F0F0;
}
