@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(90deg, #fff, #e3e4ff);
}

h3 {
    margin-bottom: 30px;
    text-align: center;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.auth-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 360px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 50px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 700;
}

.input-field {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    width: 100%;
    transition: .2s;
}

.input-field:focus,
.input-field:hover {
    outline: none;
    border-bottom-color: #9c9c9c;
}

.submit-btn {
    background: #fff;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 10px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #333;
    box-shadow: 0px 2px 2px #969696;
    cursor: pointer;
    transition: .2s;
}

.submit-btn:hover {
    border-color: #929292;
}

.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    z-index: 9999; /* 다른 요소보다 위에 표시되도록 설정 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
