/* 탭 내용 패널 숨김 */
.tab-pane {
    display: none;
}

/* 활성화된 탭 내용 패널 표시 */
.tab-pane.active {
    display: block;
}

/* 내용 컨테이너 스타일 */
.content {
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding-top: 20px;
}

/* 왼쪽 열 스타일 */
.left-column {
    flex: 1;
    border-right: 1px solid #ddd;
    padding: 0 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
}

/* 제품 이미지 스타일 */
.product-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 500px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}

/* 정보 행 스타일 */
.info-row {
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

/* 정보 레이블 스타일 */
.info-label {
    font-weight: bold;
    display: inline-block;
    min-width: 150px;
    margin-right: 10px;
}

/* 버튼 기본 스타일 */
button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* 버튼 호버 스타일 */
button:hover {
    background-color: #ececec;
}

/* 폼 스타일 */
form {
    display: flex;
    flex-direction: column;
}

/* 입력 필드 스타일 */
.editable,
.readonly {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

/* 읽기 전용 입력 필드 스타일 */
.readonly {
    background-color: var(--background-sub-color);
    border-color: #ddd;
}

/* 저장 버튼 스타일 */
.save-btn {
    background-color: var(--background-sub-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    min-width: 150px;
    margin-top: -5px;
    margin-left: 77%;
}

/* 저장 버튼 호버 스타일 */
.save-btn:hover {
    background-color: #b8b8b8;
}

/* 제품 분류 입력 필드를 2x2 그리드로 배치 */
.category-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* 제품 분류 입력 필드 스타일 */
.category-fields input {
    width: 100%;
    height: 40px;
}

/* 날짜 박스 스타일 */
.info-value-tab2 {
    border: 1px solid #ddd;
    background-color: var(--background-sub-color);
    padding: 8px;
    font-size: 16px;
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    color: #5a5d5f;
}

/* 개수 입력 창 스타일*/
#move-qty, #reverse-move-qty {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 이동 버튼 스타일 */
.move-btn {
    background-color: var(--background-sub-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
}

/* 이동 버튼 호버 스타일 */
.move-btn:hover {
    background-color: #b8b8b8;
}

.popup-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-sub-color);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-alert button {
    margin-top: 10px;
}