.content-box {
    width: 100%;
}

.flex-row-box{
    justify-content: flex-end;
}
#write-btn {
    margin-right: auto;
    width:100px;
    padding:5px 0;
    cursor: pointer;
}

#results > tbody > tr > td:nth-child(3){
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#results > tbody > tr {
    cursor: pointer;
}