<header>
    <div class="top-header">
        <div class="header-left">
            <h1>대시보드</h1>
            <nav class="breadcrumb">
            </nav>
        </div>
        <div class="header-right">
            <div class="shop-dropdown">
                <button class="dropdown-btn">Bravaa shop ▼</button>
                <div class="dropdown-content">
                    <a href="#">Shop 1</a>
                    <a href="#">Shop 2</a>
                    <a href="#">Shop 3</a>
                </div>
            </div>
            <div class="notification-icon" id="notification-icon">
                <span class="material-symbols-outlined">
                    notifications
                </span>
                <div class="notifications">
                    <p>알림 1</p>
                    <p>알림 2</p>
                    <p>알림 3</p>
                </div>
            </div>
            <div class="profile">
                <span id="user_name" th:text="${session.emp?.emp_name ?: 'NULL'}"></span>
                <a th:href="${'/emp_detail?emp_id=' + session.emp?.emp_id}">
                    <img src="/images/profile-default.svg" alt="user_profile" class="profile-pic">
                </a>
            </div>
        </div>
    </div>
    <div class="under-header">
        <div th:href="@{/}">홈</div>
        <div class="path-separator">/</div>
        <div id="current-page"
            th:text="${#strings.capitalize(#strings.substring(uri, #strings.indexOf(uri, '/') + 1))}">
            notfound
        </div>
    </div>
</header>