<nav class="aside-bar">
    <div class="aside-container">
        <div id="logo">
            <span>TeamCostco</span>
        </div>

        <ul>
            <li><button type="button" class="nav-item" data-target="#dashboard">
                    <span class="material-symbols-outlined">grid_view</span>
                    대시보드
                </button>
            </li>
            <li><button type="button" class="nav-item" data-target="#inventory">
                    <span class="material-symbols-outlined">inventory_2</span>
                    재고
                </button>
            </li>
            <li><button type="button" class="nav-item" data-target="#tracking">
                    <span class="material-symbols-outlined">share_location</span>
                    추적
                </button>
            </li>
            <li><button type="button" class="nav-item" data-target="#orders">
                    <span class="material-symbols-outlined">shopping_bag</span>
                    주문
                </button>
            </li>
            <li><button type="button" class="nav-item" data-target="#analytics">
                    <span class="material-symbols-outlined">bar_chart</span>
                    실시간 분석
                </button>
            </li>
            <li><button type="button" class="nav-item" data-target="#users">
                    <span class="material-symbols-outlined">person</span>
                    유저정보
                </button>
            </li>
            <li><button type="button" class="nav-item" data-target="#settings">
                    <span class="material-symbols-outlined">settings</span>
                    설정
                </button>
            </li>
        </ul>
    </div>
</nav>