<nav>
    <div id="aside-bar">
    <ul>
        <li id="logo"><span>Logo Area</span></li>
        <br><br>

        <li><button type="button" class="nav-item" data-target="#dashboard">
            <span class="material-symbols-outlined">grid_view</span>
            Dashboard
        </button></li>
        <li><button type="button" class="nav-item" data-target="#inventory">
            <span class="material-symbols-outlined">inventory_2</span>
            Inventory
        </button></li>
        <li><button type="button" class="nav-item" data-target="#tracking">
            <span class="material-symbols-outlined">share_location</span>
            Tracking
        </button></li>
        <li><button type="button" class="nav-item" data-target="#orders">
            <span class="material-symbols-outlined">shopping_bag</span>
            Orders
        </button></li>
        <li><button type="button" class="nav-item" data-target="#analytics">
            <span class="material-symbols-outlined">bar_chart</span>
            Report Analytics
        </button></li>
        <li><button type="button" class="nav-item" data-target="#users">
            <span class="material-symbols-outlined">person</span>
            User Authentication
        </button></li>
        <li><button type="button" class="nav-item" data-target="#settings">
            <span class="material-symbols-outlined">settings</span>
            Setting
        </button></li>
    </ul>
    </div>
</nav>