<nav class="aside-bar">
    <div class="aside-container">
        <div id="logo">
            <span>TeamCostco</span>
        </div>

        <div th:if="${rootName}"></div>
        <ul>
            <li><div type="div" class="nav-item" th:classappend="${rootName == 'dashboard' ? ' active' : ''}"
                    data-target="#dashboard">
                    <span class="material-symbols-outlined">grid_view</span>
                    대시보드
                </div>
            </li>
            <li><div type="div" class="nav-item" th:classappend="${rootName == 'inventory' ? ' active' : ''}"
                    data-target="#inventory">
                    <span class="material-symbols-outlined">inventory_2</span>
                    재고
                </div>
            </li>
            <li><div type="div" class="nav-item" data-target="#productorder">
                    <span class="material-symbols-outlined">share_location</span>
                    상품발주
                </div>
            </li>
             <li><div type="div" class="nav-item" data-target="#orderrequest">
                    <span class="material-symbols-outlined">shopping_bag</span>
                    발주목록
                </div>
            </li>
            <!--
            <li><div type="div" class="nav-item" data-target="#analytics">
                    <span class="material-symbols-outlined">bar_chart</span>
                    실시간 분석
                </div>
            </li> -->
            <li><div type="div" class="nav-item" data-target="#emp_list">
                    <span class="material-symbols-outlined">person</span>
                    직원관리
                </div>
            </li>
            <!-- <li><div type="div" class="nav-item" data-target="#settings">
                    <span class="material-symbols-outlined">settings</span>
                    설정
                </div>
            </li> -->
        </ul>

    </div>
    <div id="theme-toggle">
        <span id="mode_icon" class="material-symbols-outlined">dark_mode</span>
    </div>
</nav>