<div class="content-box">
    <form th:replace="~{component/search_form::form(action='/orderrequest', id='orderrequestForm')}"></form>
    <table id="results">
        <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="35%">상품명</th>
                <th width="10%">판매처</th>
                <th width="8%">발주수량</th>
                <th width="8%">입고수량</th>
                <th width="8%">불량수량</th>
                <th width="8%">발주직원</th>
                <th width="8%">발주상태</th>
                <th width="10%">요청일자</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" th:onclick="|location.href='@{/orderrequest/detail/{id}(id=${item.request_id})}'|">
                <td th:text="${item.request_id}"></td>
                <td>
                    <p th:text="${item.product_name}"></p>
                </td>
                <td th:text="${item.mall_name}"></td>
                <td th:text="${item.request_qty}"></td>
                <td th:text="${item.received_qty}"></td>
                <td th:text="${item.defective_qty}"></td>
                <td th:text="${item.emp_name}"></td>
                <td>
                    <div th:class="${'status_' + item.request_status}">
                        <span th:text="${item.request_status == 'pending' ? '대기중' :
                                        item.request_status == 'ordered' ? '주문됨' :
                                        item.request_status == 'received' ? '입고중' :
                                        item.request_status == 'completed' ? '완료됨' :
                                        item.request_status == 'rejected' ? '거부됨' :
                                        item.request_status == 'cancelled' ? '취소됨' :
                                        '알수없음'}">
                        </span>
                    </div>
                </td>
                <td th:text="${#dates.format(item.create_date, 'yy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
</div>
