<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${(pageTitle ?: 'No-Title')}"></title>
    <link rel="stylesheet" th:href="@{/css/common/styles.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/navigationbar.css}">
    <link rel="stylesheet" th:href="@{/css/common/fonts.css}">
    <link rel="icon" type="image/x-icon" href="/images/common/favicon.ico">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <th:block th:if="${cssFiles != null}">
        <th:block th:each="cssFile : ${cssFiles}">
            <link rel="stylesheet" th:href="@{${cssFile}}" />
        </th:block>
    </th:block>
</head>

<body>
    <div class="container">
        <div th:replace="~{common/navigationbar::nav}"></div>
        <div th:replace="~{common/header::header}"></div>
        <main>
            <h1 class="page-title" th:text="${pageTitle}"></h1>
            <div th:replace="~{${uri}}"></div>
        </main>
    </div>
    <script th:src="@{/js/common/navigationbar.js}"></script>
    <script th:src="@{/js/common/header.js}"></script>
    <th:block th:if="${jsFiles != null}">
        <th:block th:each="jsFile : ${jsFiles}">
            <script th:src="@{${jsFile}}"></script>
        </th:block>
    </th:block>

</body>

</html>