<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamCostco - 로그인</title>
    <link rel="stylesheet" th:href="@{/css/contents/login.css}" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bda07bd4d6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="auth-container">
        <div class="auth-card">
            <h3>TeamCostco - 로그인</h1>
                <form id="loginFrm" action="/api/login" method="POST" class="auth-form">
                    <div class="input-group">
                        <i class="fas fa-user input-icon"></i>
                        <input type="text" class="input-field" id="id" name="id" placeholder="아이디">
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock input-icon"></i>
                        <input type="password" class="input-field" id="pw" name="pw" placeholder="비밀번호">
                    </div>
                    <button class="submit-btn">
                        <span class="btn-text">로그인</span>
                        <i class="fas fa-chevron-right btn-icon"></i>
                    </button>

                    <!-- 회원가입 버튼 -->
                    <button type="button" class="auth-btn" onclick="window.location.href='/join'">회원가입</button>

                    <!-- ID 찾기와 PW 찾기를 한 줄에 배치 -->
                    <div class="btn-group">
                        <button type="button" class="half-btn" onclick="window.location.href='/findid'">ID 찾기</button>
                        <button type="button" class="half-btn" onclick="window.location.href='/findpw'">PW 찾기</button>
                    </div>
                </form>
        </div>
    </div>
    <script src="/js/contents/login.js"></script>
</body>

</html>
