<div class="info-boxes">
    <div class="content-box">
        <div class="categories">
            Categories
        </div>
        <div class="total-text">
            Total <span id="categoryCount">0</span>
        </div>
    </div>
    <div class="content-box">
        <div class="total-product">
            Total Product
        </div>
        <div class="total-text">
            Total <span id="totalQtySum">0</span>
        </div>
    </div>
    <div class="content-box">
        <div class="low-stock">
            Low Stock
        </div>
        <div class="total-text">
            Total <span id="lowStockCount">0</span> 
        </div>
    </div>
</div>
<div class="content-box">
    <div id="serachTitle">Inventory items</div>
    <div class="search-buttons-container">
        <input id="searchInput" type="text" placeholder="&#x1F50E Search" >
        <button id="searchBtn">검색</button>
        <div class="dropdown date-dropdown">
            <button class="dropdown-btn" onclick="toggleDropdown('dateDropdown')">
                <span class="icon">&#x1F4C5</span> Date
            </button>
            <div id="dateDropdown" class="dropdown-content calendar-dropdown">
                <label for="startDate">시작 날짜:</label>
                <input type="date" id="startDate">
                <label for="endDate">종료 날짜:</label>
                <input type="date" id="endDate">
                <button id="applyDateFilter" onclick="applyDateFilter()">필터 적용</button> <!-- 필터 적용 버튼 추가 -->
            </div>
        </div>
        <div class="dropdown filter-dropdown">
            <button class="dropdown-btn" onclick="toggleDropdown('filterDropdown')">
                <span class="icon">&#x1F50E</span> Filter
            </button>
            <div id="filterDropdown" class="dropdown-content">
                <label><input type="checkbox" name="filter" value="Option 1"> 대분류</label>
                <label><input type="checkbox" name="filter" value="Option 2"> 중분류</label>
                <label><input type="checkbox" name="filter" value="Option 3"> 소분류</label>
                <label><input type="checkbox" name="filter" value="Option 4"> 세분류</label>
                <button id="applyFilterBtn" onclick="applyFilter()">필터 적용</button> <!-- 필터 적용 버튼 추가 -->
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll" onclick="selectAllRows()"></th>
                <th>상품명</th>
                <th>대분류</th>
                <th>상품코드</th>
                <th>매입가격</th>
                <th>판매가격</th>
                <th>브랜드</th>
                <th>총수량</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${items}" th:onclick="'redirectToDetailsPage(' + ${product.product_id} + ')'">
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>
                    <div class="product-name-container">
                        <img src="/path/to/your/image.jpg" class="product-image">
                        <span th:text="${product.product_name}"></span>
                    </div>
                </td>
                <td th:text="${product.category_large}"></td>
                <td th:text="${product.product_code}"></td>
                <td th:text="${product.purchase_price}"></td>
                <td th:text="${product.selling_price}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.total_qty}"></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button id="prevBtn" class="nav-btn">Previous</button>
        <button id="nextBtn" class="nav-btn">Next</button>
        <div id="page" th:data-page="${currentPage}" th:data-totalPages="${totalPages}" th:text="|${currentPage} of ${totalPages}|"></div>
    </div>









