<div class="info-boxes">
    <div class="content-box">
        <div class="categories">
            Categories
        </div>
        <div class="total-text">
            Total (<span id="categoryCount">0</span> items)
        </div>
    </div>
    <div class="content-box">
        <div class="total-product">
            Total Product
        </div>
        <div class="total-text">
            Total <span id="totalQtySum">0</span>
        </div>
    </div>
    <div class="content-box">
        <div class="low-stock">
            Low Stock
        </div>
        <div class="total-text">
            Total (<span id="lowStockCount">0</span> items)
        </div>
    </div>
</div>
<div class="content-box">

    <form action="/inventory" method="get" id="inventoryForm">
        <div class="flex-row-box space-between">
            <div th:replace="~{/component/search_input::div(id='inventoryForm')}"></div>
            <div th:replace="~{/component/filter::div(id='inventoryForm')}"></div>
            <div th:replace="~{/component/pagination_nav::nav}"></div>
        </div>
        <div id="active-filters"></div>
    </form>
    <table id="results">
        <thead>
            <tr>
                <th width="5%">번호</th>
                <th width="25%">상품명</th>
                <th width="10%">대분류</th>
                <th width="10%">중분류</th>
                <th width="10%">소분류</th>
                <th width="10%">세분류</th>
                <th width="7%">매입가격</th>
                <th width="7%">판매가격</th>
                <th width="8%">브랜드</th>
                <th width="8%">총수량</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product,state : ${items}" th:onclick="'redirectToDetailsPage(' + ${product.product_id} + ')'">
                <td th:text="${state.count}"></td>
                <td>
                    <div class="product-name-container">
                        <img th:src="${'/images/product/' + product.product_code}" class="product-image">
                        <span th:text="${product.product_name}"></span>
                    </div>
                    <span th:text="${product.product_name}"></span>
                </td>
                <td th:text="${product.category_large}"></td>
                <td th:text="${product.category_medium}"></td>
                <td th:text="${product.category_small}"></td>
                <td th:text="${product.category_detail}"></td>
                <td th:text="${product.purchase_price}"></td>
                <td th:text="${product.selling_price}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.total_qty}"></td>
            </tr>
        </tbody>
    </table>