<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employees">
    <select id="getEmpByIdAndPw" parameterType="map" resultType="emp">
        SELECT * FROM employees
        WHERE login_id = #{id} AND login_pw = #{pw}
    </select>

    <select id="getEmpList" parameterType="map" resultType="emp">
      SELECT
        emp_id, emp_name, emp_email, phone_number, job_title, hire_date, join_date
      FROM
        employees
      ORDER BY
        emp_id DESC
  </select>

</mapper>