<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderRequest">
    <select id="getAll" resultType="orderrequest">
        SELECT
            request_id, product_code, request_qty,
            received_qty, defective_qty, emp_id, create_date
        FROM
            order_request
        </select>

    <select id="getAllWithProductName" resultType="orderrequest">
        SELECT
            o.request_id AS request_id,
            p.product_code AS product_code,
            p.product_name AS product_name,
            o.request_qty AS request_qty,
            o.received_qty AS received_qty,
            o.defective_qty AS defective_qty,
            o.emp_id AS emp_id,
            o.create_date AS create_date
        FROM
            order_request o
        INNER JOIN products p
            ON o.product_code = p.product_code
        ORDER BY
            o.request_id DESC
        </select>

    <select id="getRequestAndProductInfo" resultType="requestAndProduct">
        SELECT request_id, product_name, request_qty  FROM order_request
        INNER JOIN products USING (product_code)
    </select>
</mapper>