<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Thumbnails">

    <insert id="insertProductThumbnail" parameterType="productThumbnail">
        INSERT INTO 
        product_thumbnails(thumbnail_id, product_code, thumbnail_url, create_date, update_date)
        VALUES(thumbnails_seq.nextval, #{productCode}, #{thumbnailUrl}, #{createDate}, #{updateDate})
    </insert>

</mapper>