
#title {
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: #4e4e4e;
}

/* 검색창 */
.search {
    position: relative;
    width: 300px;
    grid-column: 2 / 3; /* 두 번째 열에 위치 */
    grid-row: 2 / 3;    /* 두 번째 행에 위치 */
    padding: 10px;      /* 여백 추가 */
}

input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px 10px 40px;
    font-size: 14px;
    box-sizing: border-box;
}

#searchImg {
    position: absolute;
    width: 17px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    margin: 0;
}



/* 테이블 */

/* 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
}

th {
    background-color: #546FF0;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #546FF0;
}

tr:hover {
    background-color: #f1f1f1;
} */