.main-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
}

/* 메인 콘텐츠 설정 */
.main-content {
    grid-column: 2 / 3; /* 두 번째 열에 위치 */
    grid-row: 2 / 3; /* 두 번째 행에 위치 */
    padding: 20px; 
    background-color: #fafafa; 
    overflow: auto;
}