/* navigationbar 부분 디자인을 기술할 css 파일입니다. */

#logo {
    line-height: 120px;
    text-align: center;
    font-weight: bold;
}

.aside-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: var(--background-color);
    border-right: var(--border-line);
}

.aside-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aside-bar ul>li {
    padding: 0;
    margin: 10px;
}

.aside-bar ul>li .nav-item {
    background: transparent;
    font-size:14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.aside-bar ul>li .nav-item:hover {
    background-color: var(--nav-item-hover-background-color);
}

.aside-bar ul>li .nav-item.active {
    background-color: var(--nav-item-hover-active-background-color);
}

.aside-container {
    height: 100%;
    background-color: var(--background-color);
}

.active, .active>* {
    color: #fff;
}

.material-symbols-outlined {
    margin-right: 10px;
}