/* navigationbar 부분 디자인을 기술할 js 파일입니다. */

#aside-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    background-color: antiquewhite;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
nav ul {
    list-style-type: none;
    width: 200px;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}
#logo {
    text-align: left;
    margin-left: 60px;
}
nav li {
    text-align: center;
    margin-bottom: 10px;
}
button {
    background: transparent;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}
nav button:hover {
    background-color: skyblue;
}
nav button.active {
    background-color: #007BFF;
    color: white;
}
.material-symbols-outlined {
    margin-right: 10px;
}