@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Material_Symbols_Outlined.woff2') format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

* {
    box-sizing: border-box;
    font-family: 'Malgun Gothic', sans-serif;
    color: var(--text-color);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background-sub-color);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

main {
    width: calc(100% - 200px);
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.page-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.content-box {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--background-color);
    border: var(--border-line);
}

table {
    width: 100px;
    height: 100px;
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden;
    box-shadow: var(--table-shadow);
    overflow: hidden;
}

table tbody>tr>td {
    border: var(--border-line) !important;
    background-color: var(--table-td-background-color) !important;
}

table thead th {
    background-color: var(--table-th-background-color) !important;
    border: var(--border-line) !important;
}