@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Material_Symbols_Outlined.woff2') format('woff2');
}

/* 스크롤 바 전체에 대한 스타일 지정 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--scrollbar-background-color);
}

/* 스크롤 바의 색상 지정 */
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    font-family: 'Malgun Gothic', sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 900px;
}


tbody {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

main {
    background-color: var(--background-sub-color);
    width: calc(100% - 200px);
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.page-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.content-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--background-color);
    border: var(--border-line);
    height: 100%;
    gap: 15px;
}

#results tbody {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#results tbody.show {
    opacity: 1;
}

table {
    display: flex;
    flex-direction: column;
    width: calc(100% + 30px) !important;
    margin: 0 -15px -15px -15px;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    flex: 1 1 auto;
    min-height: 0;
    background-color: var(--table-background-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

thead {
    display: block;
}

tbody {
    overflow-y: scroll;
}

table tr {
    display: flex;
    flex-direction: row;
}

table>thead {
    z-index: 1;
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}


table td,
table th {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 7px;
    font-size: 14px;
}

table>thead>tr>th:last-child {
    width: 10px !important;
    padding: 0 !important;
    border-right: none;
}

table>tbody>tr>td {
    border-right: var(--border-line);
    background-color: var(--table-td-background-color) !important;
    justify-content: center;
    overflow: hidden;
}

table>thead>tr>th {
    background-color: var(--table-th-background-color) !important;
    color: var(--text-color) !important;
    border-right: var(--border-line);
    justify-content: center;
}

table>tbody>tr {
    border-bottom: var(--border-line);
}


table>thead>tr>th:first-child {
    border-left: none;
}

.table-hidden {
    opacity: 0;
}

.table-visible {
    opacity: 1;
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

input,
select {
    padding: 3px;
    border: var(--border-line);
    background-color: var(--input-background-color);
    color: var(--text-color);
    border-radius: 3px;
}

input[type='date'] {
    padding-left: 5px;
}

button {
    border-radius: 3px;
    border: var(--border-line);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

div {
    color: var(--text-color);
}

table>thead>tr>th:nth-last-child(2) {
    border-right: none;
}

table tbody tr:hover {
    background-color: var(--hover-background-color);
}

.readonly,
[readonly] {
    cursor: not-allowed;
    color: #5a5d5f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.flex-row-box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 30px;
}

.flex-row-box.space-between {
    justify-content: space-between;
}