* {
    box-sizing: border-box;
    font-family: 'Malgun Gothic', sans-serif;
    color: var(--text-color);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background-sub-color);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

main {
    width: calc(100% - 200px);
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.page-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.content-box {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    border: var(--border-line);
}