.notification-container {
    position: fixed;
    bottom: 0px;
    right: 15px;
    width: 300px;
    max-height: 80%;
    overflow-y: hidden;
    z-index: 1000;
    padding:20px 5px ;
  }
  .notification {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-sub-color);
    border-radius: 8px;
    margin-top: 10px;
    height: 60px;
    padding: 10px;
    position: relative;
    animation: slideIn 0.5s ease-out;
    border: 1px solid var(--text-color);
    z-index: -1;
  }
  .notification-title {
    font-size:14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:10px;
}
  .notification-content {
    font-size: 14px;
  }
  .notification-close {
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color);;
    padding:10px;
  }
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }