
#search_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    border-radius: 3px;
    border: var(--border-line);
    padding-right: 5px;
    background-color: var(--input-background-color);
}

#search_input {
    width:100%;
    height: 100%;
    border: none;
    padding: 5px;
    outline: none;
}

#search_btn {
    cursor: pointer;
    user-select: none;
}

#page {
    white-space: nowrap;
}