<div class="content-box">

    <h3 id="title" th:text="${board.title}"></h3>
    <div class="info-area">
        <h5 id="job_title" th:text="${'글쓴이: ' + board.job_title}"></h5>
        <h5 th:text="${'작성일자: ' + #dates.format(board.update_date, 'yyyy-MM-dd')}"></h5>
    </div>

    <div id="content">
        <div th:utext="${board.content}"></div>
    </div>

    <div class="btn-area">
        <button class="btn" th:onclick="'window.location.href=\'http://localhost:9999/notice\''">목록</button>
        <button id="fix_btn" class="btn" th:onclick="'fixBoard(' + ${board.notice_id} + ')'">수정</button>
        <button id="delete_btn" class="btn" th:onclick="'deleteBoard(' + ${board.notice_id} + ')'" type="button">삭제</button>

    </div>

</div>