<base href="/">
<div class="content-box">

    <form action="/fix" method="post" id="notice-form">
        <input type="text" id="job_title" name="job_title" th:value="${boardfix.job_title}" readonly>
        <input type="text" id="title" name="title" th:value="${boardfix.title}">
        <textarea id="content" name="content" th:text="${boardfix.content}" style="visibility: hidden;"></textarea>
        <input type="hidden" name="notice_id" th:value="${boardfix.notice_id}">
        <input id="alert" type="submit" value="수정" class="btn">
    </form>
</div>
