<div class="content-box">
    <form action="/notice" method="GET" id="noticeForm">
        <div class="flex-row-box space-between">
            <div th:replace="~{component/search_input::div(id='noticeForm')}"></div>
            <button id="write-btn">글작성</button>
          <div th:replace="~{component/pagination_nav::nav}"></div>
        </div>
      </form>
    <table id="results">
        <thead>
            <tr>
                <th width="10%">번호</th>
                <th width="10%">말머리</th>
                <th width="45%">제목</th>
                <th width="15%">글쓴이</th>
                <th width="20%">작성일자</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}"
            th:onclick="|location.href='@{/board(notice_id=${item.notice_id})}'|">
                <td th:text="${item.notice_id}"></td>
                <td th:text="공지"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.job_title}"></td>
                <td th:text="${#dates.format(item.update_date, 'yy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
</div>