<div class="content-box">

    <form action="/writing" method="post" id="writeForm">
        <input type="text" id="job_title" th:value="${session.emp?.job_title ?: 'NULL'}" placeholder="직원 ID" readonly>
        <input type="hidden" name="emp_id" th:value="${session.emp?.emp_id ?: 'NULL'}">
        <input type="text" name="title" placeholder="제목을 입력하세요" required>

        <textarea name="content" id="content" placeholder="내용을 입력하세요" required></textarea>


        <div class="submit-container">
            <input type="submit" id="submitBtn" value="글쓰기">
        </div>

    </form>
    <script src="https://cdn.tiny.cloud/1/f43n80pak829erjzkenxl0hxm0cr0w1g4rlhrggk8fk92t29/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
</div>