<div class="content-box">
    <div class="button-container">
        <form action="/writing" method="post">
            <input type="text" name="title" placeholder="제목을 입력하세요" required> <br>
            <textarea name="content" placeholder="내용을 입력하세요" required></textarea> <br>
            <div class="emp-id-submit-container">
                <input type="number" name="emp_id" placeholder="직원 ID" required>
                <input type="submit" value="글쓰기">
            </div>
        </form>
    </div>
</div>
<script src="/js/contents/writing.js"></script>
